@inject IViewLocalizer localizer
@inject IOptions<RequestLocalizationOptions> locOptions

@{
    var culture = Context.Features.Get<IRequestCultureFeature>();
    var cultureList = locOptions.Value.SupportedUICultures!.Select(x => new SelectListItem { Value = x.Name, Text = x.DisplayName }).ToList();
    var returnUrl = string.IsNullOrWhiteSpace(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}{Context.Request.QueryString}";
}

<div>
    <form asp-action="CultureManagement" asp-controller="Home" method="post"
        asp-route-returnUrl="@returnUrl">
        <select name="cultureName" asp-for="@culture!.RequestCulture.UICulture.Name" asp-items="cultureList"
            onchange="this.form.submit();"></select>
    </form>
</div>